$table-bg-accent: #EBEBEB;

@import "bootstrap";
@import "font-awesome";

 $screen-sm-min: 576px;

//-----------------------------------------------------
// Layout
//-----------------------------------------------------
body {
  background: #F9F9F9;
}



main {
  margin-top: 40px;
  margin-bottom: 100px;
  min-height: 1000px;

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.index-header {
  // height: 80px;
  // @media (max-width: $screen-sm-min) {
  //   height: 0;
  // }
}

.container-fluid {
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
}



//-----------------------------------------------------
// Navbar
//-----------------------------------------------------
.nav {
  padding: 20px 0;
  height: 80px;
}

.nav-li {
  .nav-link {
    display: block;
    font-weight: 600;
    padding: .45rem .75rem .4rem;
    //padding: 0.375rem 0;
    color: #666;
    &:hover {
      color: #0275d8;
      &:after {
        content: '';
        display: block;
        background: #0275d8;
        width: 100%;
        height: 2px;
      }
    }
  }

  .active {
    // color: #0275d8;
    background: #f9f9f9;
    border-radius: .25rem;
  }

  .btn-success {
    color: #FFFFFF;
  }
}

.lawsuit-menu {
  a {
    color: #666;
    font-weight: 600;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    padding: .45rem .75rem .4rem;
    margin-left: 10px;
    &:hover {
      color: #0275d8;
      &:after {
        content: '';
        display: block;
        background: #0275d8;
        width: 100%;
        height: 1px;
      }
    }
  }

  .active {
    // color: #0275d8;
    // box-shadow: 0 2px 10px rgba(0,0,0,.16);
    // border: 1px solid rgba(0,0,0,.12);
    background: darken(#F9F9F9, 5%);

    border-radius: .25rem;
  }

  .divider {
    font-weight: 600;
    margin: 0 5px;
  }
}

.brand {
  position: absolute;
  top: 10px;
  width: 200px;
}

//-----------------------------------------------------
// Tables
//-----------------------------------------------------
table {
  background: #FFFFFF;
}

.table-hover {
  tr {
    cursor: pointer;
  }
}

.table-responsive {
  margin-bottom: 40px;
}

.task-menu {
  margin-bottom: 20px;
}

.user-select {
  label {
    margin-right: 5px;
  }
  .form-control {
    width: 60%;
  }
}

tfoot {
  font-weight: 600;
}

//-----------------------------------------------------
// Typography
//-----------------------------------------------------
h1 {
  line-height: 0.9;
}

.devise-link {
  // font-size: 0.9rem;
}

//-----------------------------------------------------
// Paginator
//-----------------------------------------------------
.paginator {
  text-align: center;

  .btn, input, p, div {
    display: inline-block;
  }

  p { margin: 0 5px; }

  input { width: 50px; }
}

.paginator-row {
  margin-bottom: 15px;
  margin-top: 15px;
}

//-----------------------------------------------------
// Cards
//-----------------------------------------------------
.card-block button { margin: 0 10px; }

.counterpart-client-card {
  .card-title {
    font-weight: 600;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li { line-height: 30px; }
  }
}

//-----------------------------------------------------
// Forms
//-----------------------------------------------------

// input[type="date"] {
//   height: 31px;
// }

.text-area-label {
  margin-top: 15px;
}

.helper {
  float: right;
  margin-right: 20px;
}

//-----------------------------------------------------
// Icons
//-----------------------------------------------------
.fa-pencil-square-o, .fa-times {
  font-size: 22px !important;
  cursor: pointer;
  &:hover {
    // color: #2E2E2E;
  }
}

.fa-check, .fa-exclamation-circle {
  margin-right: 5px;
}

.fa {
  margin-right: 5px;
}

.fa-times {
  &:hover {
    color: #d9534f;
  }
}

.delete-row-icon {
  float: right;
  margin-top: 6px;
}

//-----------------------------------------------------
// Lists
//-----------------------------------------------------
.show-page-list {
  list-style-type: none;
  padding-left: 0;

  li {
    border-bottom: 1px solid #f2dede;
    a {
      line-height: 40px;
    }
  }
}

//-----------------------------------------------------
// Messages
//-----------------------------------------------------
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    &:before {
      content: "\f06a";
      font-family: FontAwesome;
      margin-right: 5px;
    }
 }

.alert-notice {
    background-color: #D9EDF7;
    border-color: #bcdff1;
    color: #31708f;
    padding: 10px;
    &:before {
      content: "\f05a";
      font-family: FontAwesome;
      margin-right: 5px;
    }
 }

.message.text-danger {
  &:before {
    content: "\f06a";
    font-family: FontAwesome;
    margin-right: 5px;
  }
}
.message.text-success {
  &:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 5px;
  }
}

.lawsuit-header {
  margin-bottom: 30px;
}

#lawsuit-index-message {
  margin-bottom: 8px;
}

#tasks-index-alert {
  display: none;
  margin: 0;
}

#task-form-alert.alert-success, #counterpart-modal-alert.alert-success {
  margin: 0;
  padding: 20px;
}

.modal-content.alert-info {
  background: #D9EDF7;
}

.modal-alert {
  display: none;
}

.modal-alert.alert-success {
  margin: 0;
  padding: 20px;
}

#updatedLawsuitMessage {
  display:none;
  position: absolute;
  top: 196px;
  font-weight: 600;
}

#updatedClientMessage, #updatedCounterpartMessage {
  display: none;
  position: absolute;
  top: 88px;
  font-weight: 600;
  padding: 5px 15px;
}



// Devise error message.
#error_explanation {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  color: #b94a48;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0.25rem;

  ul {
    list-style: none;
    padding: 0;
  }

  h2 {
    font-size: 1.1em;
  }
}

//-----------------------------------------------------
// Utils
//-----------------------------------------------------
.center-content {
  text-align: center;
}

.content-right {
  text-align: right;
  .btn {
    margin-left: 5px;
  }
}

.width-fill {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.hidden {
  display: none;
}


@media (max-width: $screen-sm-min) {
  .row {
    div {
      margin-bottom: 10px;
    }
  }

  .user-select {
    .form-control {
      width: 100%;
    }
  }

  .checkbox {
    margin-bottom: 10px;
  }

  .task-menu, .buttons {
    .btn {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .lawsuit-menu {
    margin-top: 20px;
    text-align: center;
    a {
      width: 100%;
      margin-left: 0;
    }
  }

  .paginator {
    button {
      margin-left: 15px;
    }
  }

  .nav-inline {
    li {
      display: block !important;
      margin-left: 0 !important;
      border-bottom: 1px solid #F9F9F9;
    }
  }

  .nav-item.dropdown {
    margin-bottom: 20px;
  }


}
