$table-bg-accent: #EBEBEB;

@import "bootstrap";
@import "font-awesome";

// LAYOUT
body {
  background: #F9F9F9;
}

// .container {
//   background: white;
// }

main {
  margin-top: 40px;
  margin-bottom: 100px;
  min-height: 1000px;
}



@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.index-header {
  height: 100px;
}

.container-fluid {
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
}

// NAVBAR
.nav {
  padding: 20px 0;

  height: 80px;

  .nav-item {
    //margin: 25px 20px 0 20px;
  }
}

.nav-li {
  .nav-link {
    display: block;
    font-weight: 600;
    padding: 0.375rem 0;
    color: #666;
    &:hover {
      color: #0275d8;
      &:after {
        content: '';
        display: block;
        background: #0275d8;
        width: 100%;
        height: 2px;
      }
    }
  }

  .active {
    color: #0275d8;
  }

  .btn-success {
    color: #FFFFFF;
  }
}

// .dropdown-menu {
//   left: auto;
//   right: 1px;
// }

.lawsuit-menu {
  a {
    color: #666;
    font-weight: 600;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: #0275d8;
      &:after {
        content: '';
        display: block;
        background: #0275d8;
        width: 100%;
        height: 1px;
      }
    }
  }

  .active {
    color: #0275d8;
  }

  .divider {
    font-weight: 600;
    margin: 0 5px;
  }
}

// TABLE
table {
  margin-top: 20px;
  background: #FFFFFF;
  // table-layout: fixed;
}

.table-hover {
  tr {
    cursor: pointer;
  }

}
//
// th.first {
//   width: 20%;
// }
//
// th.long {
//   width: 40%;
// }



// TYPOGRAPHY
h1 {
  line-height: 0.9;
}

// PAGINATOR
.paginator {
  margin-top: 15px;
  text-align: center;

  .btn, input, p, div {
    display: inline-block;
  }

  p { margin: 0 5px; }

  input { width: 50px; }
}

// CARD
.card-block button {
  margin: 0 10px;
}

// FORMS
.form-inline {
  .form-group {
    min-height: 40px;
    display: block;

    .form-control {
      margin: 0 5px;
      float: right;
    }

    input, textarea {
      width: 300px;
    }

    input[name="postCode"] {
      width: 120px;
    }

    textarea {
      //width: 450px;
    }

    label {
      float: left;
    }
  }

  .c-checkbox input {
    margin-right: 10px;
  }

  .form-group-textarea {
    min-height: 150px;
  }
}

.task-form {

  button {
    margin-left: 5px;
  }

  input[type="number"] {
    width: 100px;
  }

  input[type="date"] {
    width: 170px;
    height: 31px;
  }

  textarea {
    width: 300px !important;
  }

  select {
    width: 300px;
  }
}

// ICONS
.fa-pencil-square-o, .fa-times {
  font-size: 22px !important;
  cursor: pointer;
  &:hover {
    // color: #2E2E2E;
  }
}

// LISTS
.show-page-list {
  list-style-type: none;
  padding-left: 0;

  li {
    border-bottom: 1px solid #f2dede;
    a {
      line-height: 40px;
    }
  }
}

// CARDS
.counterpart-client-card {
  .card-title {
    font-weight: 600;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      // border-bottom: 1px solid #f2dede;
      line-height: 30px;
    }
  }
}

// MESSAGES
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.lawsuit-header {
  margin-bottom: 30px;
}

#updatedLawsuitMessage {
  display:none;
  position: absolute;
  top: 35px;
  font-weight: 600;
}

#updatedClientMessage, #updatedCounterpartMessage {
  display: none;
  position: absolute;
  // top: 90px;
  top: 88px;
  font-weight: 600;
  // border: 1px dotted;
  padding: 5px 15px;
}

// MISC
.center-content {
  text-align: center;
}

.content-right {
  text-align: right;
  .btn {
    margin-left: 5px;
  }
}

.width-fill {
  width: 100%;
}
