@import "bootstrap-sprockets";
@import "bootstrap";

// VARIABLES AND MIXINS //

// LAYOUT //
main {
  padding: 40px;
  min-height: 50%;
}

// FORMS //
.form-control {
  height: 28px;
  padding: 0;
  padding-left: 5px;
  width: 100%;
  border-radius: 0;
}

.login-form {
  margin-top: 100px;
}

.form-inline {
  .form-control {
    margin: 0 5px;
    width: 400px;
  }

  .btn {
    padding: 4px 30px;
  }
}

// MESSAGES //
.alert {
  position: absolute;
  top: 20px;
  right: 25%;
  left: 25%;
}

.glyphicon {
  margin-right: 2px;
}
