// Chance to override bootstrap defaults.
// $link-hover-color: none;
$link-hover-decoration: none;
// $link-color: none;

@import "bootstrap-sprockets";
@import "bootstrap";



// VARIABLES AND MIXINS //
$background-color: #E9EAED;
$white: #FFFFFF;
$medium-grey: #666;
$light-grey: #DDD;
$danger-red: #b94a48;

// LAYOUT //
body {
  background-color: $background-color;
}

main {
  padding: 40px 0;
  min-height: 1000px;
}

// NAVBAR //
.navbar {
  margin-bottom: 0;
}

// FORMS //
.form-control {
  height: 28px;
  padding: 0;
  padding-left: 5px;
  width: 100%;
  border-radius: 0;
}

.login-form {
  margin-top: 100px;
}

.form-inline {
  .form-control {
    margin: 0 5px;
    width: 400px;
  }

  .btn {
    padding: 4px 30px;
  }
}

// PANELS //
.panel-heading {
  background-color: $white !important;
}

.panel-body {
  color: $medium-grey;

  h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
  }
}

.align-panel  {
  .btn {
    float: right;
  }

  h4 {
    margin-top: 0;
    line-height: 1.5;
  }
}

// MESSAGES //
#error_explanation {
  border: 1px dotted $light-grey;
  padding-left: 10px;

  h2 {
    font-size: 16px;
  }
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: $danger-red;
  text-align: left;
}

.alert-alert {
   background-color: #f2dede;
   border-color: #eed3d7;
   color: $danger-red;
   text-align: left;
}


// LISTS //
ul {
  padding: 0;
  list-style-type: none;
}

// .contact-card {
//   li {
//     border: 1px solid $light-grey;
//     border-radius: 5px;
//     padding: 5px;
//     width: 300px;
//   }
// }

.list-group-item {
  padding: 0;
  margin-bottom: 4px;

  a {
    font-weight: bold;
    display: block;
    color: #333;
    padding: 9px 15px;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    //border: 1px solid #d5d5d5;

    .glyphicon {
      margin-top: 2px;
    }

    &:hover {
      text-decoration: none;
      background-color: #ddd;
      background-image: -webkit-linear-gradient(#eee, #ddd);
      background-image: linear-gradient(#eee, #ddd);
      border-color: #ccc;
    }

    &:active {
      text-decoration: none;
    }
  }

  .remove-client-link {
    color: #900;
    &:hover {
      color: $white;
      background-color: #b33630;
      background-image: -webkit-linear-gradient(#dc5f59, #b33630);
      background-image: linear-gradient(#dc5f59, #b33630);
      border-color: #cd504a;
    }
  }

}

// TABLE //
// .clients-table {
//   min-height: 927px;
// }

// MISC //
.glyphicon {
  margin-right: 2px;
}

.breadcrumb {
  font-weight: bold;
  background-color: $white !important;
  border: 1px solid transparent;
  border-color: $light-grey;
}
