<p>Hej <%= @resource.email %>!</p>

<p>Någon har efterfrågat en länk för att återställa ditt lösenord. Du kan göra detta genom att klicka på länken nedan.</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Om du inte har efterfrågat detta mailet kan du ignorera detta.</p>
<p>Ditt lösenord kommer inte att ändras om du inte klickar på länken och skriver in ett nytt.</p>
