<p>Hej <%= @resource.email %>!</p>

<p>Ditt konto har spärrats på grund av för många inloggningsförsök.</p>

<p>Klicka på länken nedan för att låsa upp ditt konto igen:</p>

<p><%= link_to 'Lås upp mitt konto', unlock_url(@resource, unlock_token: @token) %></p>
